.maske{
    width: 100%;
    height: 100vh;
    position: relative;
}
.img-home{
    width: 100%;
    height:100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
.maske::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
}
.desthome{
    height: 100%;
    width: 100%;
}
.desthome .content-home{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    
}
.desthome .content-home h1{
    font-size: 5rem;
    color: rgb(255, 255, 255);
    font-family: Times New Roman;
    border-bottom: 2px solid  red ;
}
.desthome .content-home h2{
    font-size: 4rem;
     color: rgb(255, 255, 255);
     font-family: Times New Roman; 
}
.desthome p{
    position: absolute;
    font-size: 2rem;
    transform: translate(-50%,-50%);
    top: 75%;
    left: 55%;
    color: rgb(216, 214, 214);
    display: block;
    
}
@media screen and (max-width: 767px) {
    @media screen and (max-width: 768px) {
        .desthome .content-home   {
            right: 5%;
        }
        .desthome .content-home h1{
            font-size: 3.5rem;
        }
        .desthome .content-home  h2 {
            font-size: 2.5rem;
        }
        .desthome  p {
            font-size: 1.3rem;
            top: 80%;
        }
        .img-home{
            width: 120%;
        }
        .maske::after{
            width: 120%;
        }
    }
}

