@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800&display=swap');
.header1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 10;
    
}
.header1 link {
    font-family: "Outfit", sans-serif; 
    font-size: 1rem;
    
    
}
.nav-menu1{
    display: flex;
    color: white;
}
.nav-menu1 li {
    padding: 0 1rem;
   font-size: 2rem;
  
}
.nav-menu1 li a{
    font-size: 1.2rem;
    color: rgb(206, 198, 198);
    text-decoration: none;
}
.logo1{
  width: 210px;
    margin-bottom: -30px;
    margin-left: -25px;
}
.humber{
    display: none;
}
.nav-menu1 li  :hover{
    border-bottom: 2px solid red;
   

}


@media screen and (max-width: 767px) {
    .nav-menu1{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0px;
        left: -100%;
        z-index: -3;
        transition: 0.3s;
        background-color: rgb(19, 18, 18);
        opacity: 0.9;
        
    }
    .logo1{
        margin-left: -50px;
    }
    .nav-menu.active{
        left: 0;
    }
    .nav-menu1 li{
        padding: 0.5rem 0;
       
        
    }
    .nav-menu1 li a{
       font-size: 1.5rem ;
       color: rgb(255, 255, 255); top: -50px;
    }
    .humber{
        display:initial;
         margin-right: 4%;
    }
  
}