.chefchaoun{
    margin: 4rem 6rem;
  }
  .chefchaoun h1{
    font-size: 3rem;
    text-align: center;
    color: red;
  
  }
  .chefchaoun{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
  
  }
  .chefchaoun-text{
    width: 50%;
    text-align: start;
    font-size: 1.5rem;
    margin-left : -5%;
  }
  .chefchaoun-text h2{
    padding-bottom: 1rem;
  }
  .chefchaoun-text p{
   color: gray;
   
  }
  .imag-chefchaoun{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
    z-index: -99;
  }
  .imag-chefchaoun img{
    width: 49%;
    height: 300px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px -18px rgba(0, 0,0,0.19);
  }
  .imag-chefchaoun img:nth-child(2){
    position: absolute;
    top: -15%;
    right: 0;
  }

  .Tanger{
    margin: 4rem 6rem;
  }
  
  .Tanger{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
  }
  
  .Tanger-text{
    width: 50%;
    text-align: start;
    font-size: 1.5rem;
    margin-left: 50px;
  }
  .Tanger-text h2{
    padding-bottom: 1rem;
  }
  .Tanger-text p{
   color: gray;
  }
  .image-Tanger{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
    z-index: -99;
   
  }
  .image-Tanger img{
    width: 49%;
    height: 300px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px -18px rgba(0, 0,0,0.19);
  }
  .image-Tanger img:nth-child(2){
    position: absolute;
    top: -15%;
    right: 0;
  }
  .Tetouan{
    margin: 4rem 6rem;
  }
  .Tetouan h1{
    font-size: 3rem;
    text-align: center;
    color: red;
  
  }
  .Tetouan{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
  
  }
  .Tetouan-text{
    width: 50%;
    text-align: start;
    font-size: 1.5rem;
    margin-left : -5%;
  }
  .Tetouan-text h2{
    padding-bottom: 1rem;
  }
  .Tetouan-text p{
   color: gray;
   
  }
  .imag-Tetouan{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
    z-index: -99;
  }
  .imag-Tetouan img{
    width: 49%;
    height: 300px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px -18px rgba(0, 0,0,0.19);
  }
  .imag-Tetouan img:nth-child(2){
    position: absolute;
    top: -15%;
    right: 0;
  }
  .Ifran{
    margin: 4rem 6rem;
  }
  
  .Ifran{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
  }
  
  .Ifran-text{
    width: 50%;
    text-align: start;
    font-size: 1.5rem;
    margin-left: 50px;
  }
  .Ifran-text h2{
    padding-bottom: 1rem;
  }
  .Ifran-text p{
   color: gray;
  }
  .image-Ifran{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
    z-index: -99;
   
  }
  .image-Ifran img{
    width: 49%;
    height: 300px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px -18px rgba(0, 0,0,0.19);
  }
  .image-Ifran img:nth-child(2){
    position: absolute;
    top: -15%;
    right: 0;
  }
 
    @media screen and (max-width: 767px){
      .chefchaoun{
        margin: 2rem 2rem;
        margin-right: -10px;
      }
      .chefchaoun-text{
        width: 50%;
        text-align: start;
        font-size: 1rem;
        inline-size: 90%;
      } 
      .chefchaoun{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       margin-top: 2rem;
      }
      .imag-chefchaoun{
        width: 100%;
        margin: 1.8rem 0;
    
      }
      .imag-chefchaoun img{
        width: 55%;
        height: 200px;
       
      }
      .imag-chefchaoun img:nth-child(2){
        right: -1rem;
        
      }
      .imag-chefchaoun img:nth-child(1){
        margin-left: -1rem;width: 50%;
      }
      .Tanger{
        margin: 2rem 2rem;
        margin-right: -10px;
      }
      .Tanger-text{
        width: 50%;
        text-align: start;
        font-size: 1rem;
        inline-size: 90%;
        order: 1;
      } 
      .Tanger{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       margin-top: 2rem;
      }
      .image-Tanger{
        width: 100%;
        margin: 1.8rem 0;
     order: 2;
      }
      .image-Tanger img{
        width: 55%;
        height: 200px;
       
       
      }
      .image-Tanger img:nth-child(2){
        right: -1rem;
        
      }
      .image-Tanger img:nth-child(1){
        margin-left: -1rem;width: 50%;
      }
      .Tetouan{
        margin: 2rem 2rem;
        margin-right: -10px;
      }
      .Tetouan-text{
        width: 50%;
        text-align: start;
        font-size: 1rem;
        inline-size: 90%;
        order: 1;
      } 
      .Tetouan{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       margin-top: 2rem;
      }
      .imag-Tetouan{
        width: 100%;
        margin: 1.8rem 0;
     order: 2;
      }
      .imag-Tetouan img{
        width: 55%;
        height: 200px;
       
       
      }
      .imag-Tetouan img:nth-child(2){
        right: -1rem;
        
      }
      .imag-Tetouan img:nth-child(1){
        margin-left: -1rem;width: 50%;
      }
      .Ifran{
        margin: 2rem 2rem;
        margin-right: -10px;
      }
      .Ifran-text{
        width: 50%;
        text-align: start;
        font-size: 1rem;
        inline-size: 90%;
        order: 1;
      } 
      .Ifran{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       margin-top: 2rem;
      }
      .image-Ifran{
        width: 100%;
        margin: 1.8rem 0;
     order: 2;
      }
      .image-Ifran img{
        width: 55%;
        height: 200px;
       
       
      }
      .image-Ifran img:nth-child(2){
        right: -1rem;
        
      }
      .image-Ifran img:nth-child(1){
        margin-left: -1rem;width: 50%;
      }
    }
  