.artculture{
    margin: 4rem 6rem;
  }
  
  .art{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
  }
  
  .art-text{
    width: 50%;
    text-align: start;
    font-size: 1.5rem; 
margin-left: 50px;
  }
  .art-text h2{
    padding-bottom: 1rem;
  }
  .art-text p{
   color: gray;
  }
  .imagess{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
    z-index: -99;
   
  }
  .imagess img{
    width: 49%;
    height: 300px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px -18px rgba(0, 0,0,0.19);
  }
  .imagess img:nth-child(2){
    position: absolute;
    top: -15%;
    right: 0;
  }
  @media screen and (max-width: 767px){
    .artculture{
      margin: 2rem 2rem;
    }
    .art-text{
      height: 10%;
      justify-content: space-between;
      font-size: 1rem;
      order: 1;
      inline-size: 90%;
    } 
    .art{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin-top: 2rem;
    }
    .imagess{
      width: 100%;
      margin: 1.8rem 0;
  order: 2;
    }
     
    .imagess img{
      width: 55%;
    height: 200px;
    }
    .imagess img:nth-child(2){
      right: -2rem;
    }
    .imagess img:nth-child(1){
      margin-left: -5%;
    }
  }