.all{
  margin: 4rem 6rem;
}
.all h1{
  font-size: 3rem;
  text-align: center;
  color: red;
  font-family: sans-serif;

}
.destination{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;

}
.des-text{
  width: 50%;
  text-align: start;
  font-size: 1.5rem;
}
.des-text h2{
  padding-bottom: 1rem;
}
.des-text p{
 color: gray;
}
.image{
  position: relative;
  width: 50%;
  display: flex;
  justify-content: space-between;
  z-index: -99;
}
.image img{
  width: 49%;
  height: 300px;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: -1px 1px 62px -18px rgba(0, 0,0,0.19);
}
.image img:nth-child(2){
  position: absolute;
  top: -15%;
  right: 0;
}
@media screen and (max-width: 767px){
  .all{
    margin: 2rem 2rem;
    margin-right: -10px;
  }
  .des-text{
    width: 50%;
    text-align: start;
    font-size: 1rem;
    inline-size: 90%;
  } 
  .destination{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 2rem;
  }
  .image{
    width: 100%;
    margin: 1.8rem 0;

  }
  .image img{
    width: 55%;
    height: 200px;
   
  }
  .image img:nth-child(2){
    right: -1rem;
    
  }
  .image img:nth-child(1){
    margin-left: -1rem;width: 50%;
  }
}