.Food{
    margin: 4rem 6rem;
  }
  .Food h1{
    font-size: 3rem;
    text-align: center;
    color: red;
  
  }
  .food{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
  
  }
  .food-text{
    width: 50%;
    text-align: start;
    font-size: 1.5rem;
  }
  .food-text h2{
    padding-bottom: 1rem;
  }
  .food-text p{
   color: gray;
  }
  .imag{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
    z-index: -99;
  }
  .imag img{
    width: 49%;
    height: 300px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px -18px rgba(0, 0,0,0.19);
  }
  .imag img:nth-child(2){
    position: absolute;
    top: -15%;
    right: 0;
  }
  @media screen and (max-width: 767px){
    .Food{
      margin: 2rem 2rem;
     

    }
    .food-text{
      width: 50%;
      text-align: start;
      font-size: 1rem;
      inline-size: 90%;
    } 
    .food{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin-top: 2rem;
    }
    .imag{
      width: 100%;
      margin: 1.8rem 0;
  
    }
    .imag img{
      width: 55%;
    height: 200px;
    }
    .imag img:nth-child(2){
      right: -2rem;
    }
    .imag img:nth-child(1){
      margin-left: -5%;
    }
  }