.footer{
    background-color: rgb(255, 255, 255);
    color: #220202;
    height: 300px;
    position: relative;
}
 .footer .footer-content{
    height: 300px;
    margin-top: 5%;
    display: flex;
 }
 .footer .footer-content .footer-section{
    flex: 1;
    padding: 25px;
     
 }
 .footer .footer-content p{
    margin-top: -5%;
    font-size: 1.5rem;
    text-align:justify ;
 }
 .footer .footer-content img{
    width: 200px;
   margin-left: -50px;
   margin-top: -50px;
 }
.footer .footer-bottom{
     font-size: 0.7rem;
    background:rgb(255, 255, 255);
    color: rgb(4, 118, 65);
    height: 30px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px; 
}
.footer .footer-section .links ul   {
     font-size: 1.5rem;
    text-align: center;
    margin-top: 5%;
}
.footer .footer-section .links li a{
    text-decoration: none; 
    color: black;
    font-size: 1.2rem;
}
.footer .footer-section .links li a:hover{
    transition: 0.3s;
    font-size: 1.5rem;
}
  .footer-section .links  select  {
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    appearance: none;
    background-color: transparent;
    border: none;
    outline: none;
}
.footer-section .links  select:hover  {
    transition: 0.3s;
    font-size: 1.5rem;
}
.footer .footer-section .links  h1 {
    text-align: center;
    font-size: 1.5rem;
    color: gray;
}
.footer .footer-section .subscribe h1 {
    text-align: center;
    color: gray;
    font-size: 1.5rem;

}
@media screen and (max-width: 750px)  {
    .footer{
        height: 450px;
        top: -50%;
        right: 5%;
    }
    .footer .footer-content p{
        margin-top: -25%;
    font-size: 0.7rem;
    }
    .footer .footer-content {
     margin-left: 12%;
    }
    .footer .footer-section .links ul   {
        font-size: 1rem;
   }
   .footer .footer-section .links li a{
       font-size: 1rem;
   }
   
     .footer-section .links  select  {
       font-size: 1rem;
   }
   .footer-section .links  select:hover  {
    transition: 0.3s;
    font-size: 1.2rem;
}
    .footer .footer-section .links  h1 {
        text-align: center;
        font-size: 1rem;
        color: gray;
    }
    .footer .footer-section .subscribe h1 {
        margin-top: 2%;
        font-size: 1.2rem;
    }
    .footer .footer-section .subscribe  {
        text-align: center;
        position:  absolute;
         top: 40%;
        left: 30%;
    }
    .footer .footer-content img{
        width: 150px;
     }
     .footer .footer-bottom{
       bottom: 20px;
       left: 10px; 
   }
}