.mask{
    width: 100%;
    height: 100vh;
    position: relative;
}
.into-img{
    width: 100%;
    height:100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
.mask::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.6;
}
.home{
    height: 100%;
    width: 100%;
}
.home .content{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 60%;
    left: 50%;
}
.home .content h1{
    font-size: 5rem;
    color: rgb(255, 255, 255);
    font-family: Times New Roman;
    border-bottom: 2px solid  red ;
}
.home .content h2{
    font-size: 3rem;
     color: rgb(255, 255, 255);
     font-family: Times New Roman; 
    
}
.home .content p{
    font-size: 1.5rem;
    transform: translate(-50%,-50%);
    margin-top: 10%;
    margin-left: 40%;
    color: rgb(216, 214, 214);
}
@media screen and (max-width: 767px)  {
    .home .content{
        top: 60%;
        left: 55%;
    }
    .home .content p{
        margin-top: 50%;
       
    }
    .into-img{
width: 120%;
    }
    .mask::after{ 
        width: 120%;
    }
    .home .content h1{
        font-size: 4rem;
        color: rgb(255, 255, 255);
        font-family: Times New Roman;
        border-bottom: 2px solid  red ;
    }
    .home .content h2{
        font-size: 2rem; 
         
    }
}