@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800&display=swap');
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 10;
    
}
.header link {
    font-family: "Outfit", sans-serif; 
    font-size: 1rem;
    
}
.nav-menu{
    display: flex;
    color: white;
}
.nav-menu li {
    padding: 0 1rem;
   font-size: 2rem;
}
.nav-menu li a{
    font-size: 1.2rem;
    color: rgb(206, 198, 198);
    text-decoration: none;
}
.nav-menu li select{
    font-size: 1.2rem;
    color: rgb(206, 198, 198);
    text-decoration: none;
    appearance: none;
    background-color: transparent;
    border: none;
    outline: none;
    color: rgb(206, 198, 198);
}
.nav-menu li select option{
    color: rgb(206, 198, 198);
    text-decoration: none;
}
.logo{
  width: 210px;
    margin-bottom: -30px;
    margin-left: -25px;
}
.humberger{
    display: none;
}
.nav-menu li  :hover{
    border-bottom: 2px solid red;
}

.scrolled {
    background-color: rgb(139, 105, 105) ;
opacity: 0.9;     
  }
@media  screen and (max-width: 1040px) {
    .nav-menu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0px;
        left: -100%;
        z-index: -3;
        transition: 0.3s;
        background-color: rgb(19, 18, 18);
        opacity: 0.9;
        
    }
    .logo{
        width: 150px;
          margin-left: -40px;
      }
    .nav-menu.active{
        left: 0;
    }
    .nav-menu li{
        padding: 0.5rem 0;
       
        
    }
    .nav-menu li a{
       font-size: 1.5rem ;
       color: rgb(255, 255, 255); top: -50px;
    }
    .humberger{
        display:initial;
         margin-right: 4%;
    }
   .icons{
        color: rgb(12, 12, 12);
    }
}