
.Search {
    max-width: 600px;
    margin: 0 auto;
     
  }
  
  .Search input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #036b3a;
    border-radius: 30px;
    background: transparent;color: aliceblue;
  }
  
  .Search input[type="text"]:focus {
    outline: none;
    border-color: #ff0000;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
  }
  
  .result-container {
    max-height: 170px; 
    overflow-y: auto;
  }
  
  .result-list {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin-top: 5%;
  }
  
  .result-list li {
    margin-bottom: 20px;
    
  }
  
  .result-list h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: aliceblue;
  }
  
  .result-list a {
    display: inline-block;
    padding: 10px 20px;
     color: #de9d9d;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .result-list a:hover {
    color: #0b7d03;
  }
  
  .result-list a:active {
    background-color: #241818;
    transform: translateY(1px);
  }

  @media screen and (max-width: 767px)  {
    .Search{
        margin-top: -30%;
    }
     
}