.tradcomp{
    margin: 4rem 6rem;
  }
  
  .tradition{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
  }
  .trad-text{
    width: 70%;
    text-align: start;
    font-size: 1.5rem; 
margin-left: 50px;
  }
  .trad-text h2{
    padding-bottom: 1rem;
  }
  .trad-text p{
   color: gray;
  }
  .images{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
    z-index: -99;
   
  }
  .images img{
    width: 49%;
    height: 300px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px -18px rgba(0, 0,0,0.19);
  }
  .images img:nth-child(2){
    position: absolute;
    top: -15%;
    right: 0;
  }
  @media screen and (max-width: 767px){
    .tradcomp{
      margin: 2rem ;
      
    }
    .trad-text{
      width: 50%;
      text-align: start;
      font-size: 1rem;
      line-height: 20px;
      inline-size: 80%;
      outline-width: 20px;
      order: 1;
    } 
    .tradition{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin-top: 2rem;
    }
    .images{
      width: 100%;
      margin: 1.8rem 0;
  order: 2;
    }
    .images img{
      width: 55%;
    height: 200px;
    }
    .images img:nth-child(2){
      right: -2rem;
    }
    .images img:nth-child(1){
      margin-left: -5%;
    }
  }