.login-container{
    border: 1px solid;
    padding: 5px;
    width:90%;
    text-align: center;
    border-radius: 6px;
    margin-left: 10%;
    margin-top: 5%;
}
.login-container h1{
    font-size: 20px;
    margin-left: 5%;
    
}
.login-container h2{
    font-size: 20px;
    font-family: serif;
    margin-left: 3%;
    margin-top: 5%;
   letter-spacing: 0.3rem;
   color: red;
   font-weight: bold;

}
.login-container h3{
    font-size: 15px;
    margin-left: 5%;
    margin-top: 5%;

}
.login-form{
justify-content: space-between;
margin-top: 5%;
width: 130%;
margin-left: -40px;
}
.login-form .botton{
    display: inline-block;
    padding: 8px 16px;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background-color: rgb(234, 3, 3);
    color: #fff
}
.login-form .email{
    width: 50%;
  padding: 6px;
  border: 1px solid rgb(236, 231, 231);
  border-radius: 4px;
  font-size: 20px;
}
.email:hover{
    box-shadow: red 0px 3px 8px;
}
.botton:hover {
    background-color: green;
}
@media screen and (max-width: 1050px) {
    .login-container{
        width:120%;
        margin-left: -40px;
    margin-top: 10%;

    }
    .login-form .email,.botton{
        font-size: 15px;
       
    }
    .login-form .botton{
        font-size: 13px;
       
    }
    .login-container h1{
        font-size: 15px;
        
    }
    .login-container h2{
        font-size: 15px;

    
    }
    .login-container h3{
        font-size: 10px;
       
    
    }
}

