.masketradition{
    width: 100%;
    height: 100vh;
    position: relative;
}
.imghometradition{
    width: 100%;
    height:100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
.masketradition::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
}
.traditionhome{
    height: 100%;
    width: 100%;
}
.traditionhome .content-tradition{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    
}
.traditionhome .content-tradition h1{
    font-size: 5rem;
    color: rgb(255, 255, 255);
    font-family: Times New Roman;
    border-bottom: 2px solid  red ;
    text-align: center;
}
.traditionhome .content-tradition h2{
    font-size: 4rem;
     color: rgb(255, 255, 255);
     font-family: Times New Roman; 
}
.traditionhome p{
    position: absolute;
    font-size: 2rem;
    transform: translate(-50%,-50%);
    top: 75%;
    left: 55%;
    color: rgb(216, 214, 214);
    display: block;
    
}

@media screen and (max-width: 768px) {
    .traditionhome .content-tradition  {
        right: 5%;
    }
    .traditionhome .content-tradition h1 {
        font-size: 3.5rem;
    }
    .traditionhome .content-tradition h2 {
        font-size: 2.5rem;
    }
    .traditionhome p {
        font-size: 1.5rem;
    }
    .imghometradition{
        width: 120%;
    }
    .masketradition::after{
        width: 120%;
    }
}