 
.title{
    text-align: center;
    color: #a19f9f;
    margin-top: 3%;
    font-size: 3rem;
}
.card1{
    display: inline-block;
    width: 200px; 
    margin-left: 7%;
    margin-top: 4%;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.card3 {   
    display: inline-block;
    width: 150px; 
    margin-left: 7%;
    margin-top: 4%;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
 
.card1   img {
    width: 100%;
    height: auto;
    display: block;
}
  .card2 img {
    width: 100%;
    height: auto;
    display: block;
}
.card3 img {
    width: 100%;
    height: auto;
    display: block;
}
 
.card-content {
    padding: 15px;
}
 
.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
 
.card-paragraph {
    font-size: 14px;
    color: #555;
}
.card3:hover{
    width: 185px;
 }
 .col {
    display: inline-block;
    width: 250px;
    margin-left: 4%;
    margin-top: 5%;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.col h2 {
    margin-left: 10px;
    font-size: 1.4rem;
    padding-top: 20px;
    text-align: center;
}

.vedios {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: -99;
}

.col video {
    width: 100%; 
    margin-left: 10px;
    height: auto;
}

.btn-play {
    background-color: #8b0902;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto; 
    margin-right: auto;
    font-size: 1rem;
    height: 30px;
    width: 80%;
    display: block; 
}


@media screen and (max-width: 767px) {
    .vedios {
        flex-wrap: wrap; 
        justify-content: space-between;
    }
    .col {
        width: calc(50% - 4%);
        margin: 2% 0; 
        margin-left: 2%; 
    }
    .card1 {
        width: calc(50% - 4%);
        margin: 2% 0; 
        margin-left: 2%; 
    }

    .col h2 {
        font-size: 1.2rem; 
    }

    .btn-play {
        width: 100%;
    }
}
