.maskeart{
    width: 100%;
    height: 100vh;
    position: relative;
}
.imghomeart{
    width: 100%;
    height:100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
.maskeart::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
}
.arthome{
    height: 100%;
    width: 100%;
}
.arthome .content-art{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    
}
.arthome .content-art h2{
    font-size: 4rem;
    color: rgb(255, 255, 255);
    font-family: Times New Roman;
    border-bottom: 2px solid  red ;
    text-align: center;
}
.arthome .content-art h1{
    font-size: 5rem;
     color: rgb(255, 255, 255);
     font-family: Times New Roman; 
}
.arthome p{
    position: absolute;
    font-size: 2rem;
    transform: translate(-50%,-50%);
    top: 75%;
    left: 55%;
    color: rgb(216, 214, 214);
    display: block;
    
}
@media screen and (max-width: 1040px) {
    .arthome .content-art{
        right: 1rem;
        top: 40%;
    }
    .arthome p{
        top: 70%;
        font-size: 1.5rem;
    }
    .arthome .content-art h2{
        font-size: 3rem;    
    }
    .arthome .content-art h1{
        font-size: 3rem;
        
    }
    .imghomeart{
        width: 115%;
            }
            .maskeart::after{ 
                width: 115%;
            }
}
