.homefood{
    width: 100%;
    height: 100vh;
    position: relative;
}
.img-homefood{
    width: 100%;
    height:100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
.homefood::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
}
.foodhome{
    height: 100%;
    width: 100%;
}
.foodhome .content-food{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    
}
.foodhome .content-food h1{
    font-size: 5rem;
    color: rgb(255, 255, 255);
    font-family: Times New Roman;
    border-bottom: 2px solid  red ;
}

.foodhome .content-food h2{
    font-size: 4rem;
     color: rgb(255, 255, 255);
     font-family: Times New Roman; 
}
.foodhome p{
    position: absolute;
    font-size: 2rem;
    transform: translate(-50%,-50%);
    top: 75%;
    left: 55%;
    color: rgb(216, 214, 214);
    display: block;
    
}
  .Dishs h1{
    text-align: center;
    color: red;
    margin-top: 20px;
    font-size: 4rem;
  }
  .Dishs h3{
    font-size: 2rem;
    border-radius: 10px; 
    background-color: #f0f0f0; 
    padding: 10px; 
    text-align: center; 
    width: 300px; 
    margin: 0 auto;
  }

  .Dishs .couscous{
    margin: 4rem 6rem;
  }
  
  .Dishs .couscous{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
  }
  
  .Dishs .couscous-text {
    width: 50%;
    text-align: start;
    margin-left: 50px;
  }
  .Dishs .couscous-text h2 {
    padding-bottom: 2rem;
    font-size: 2.5rem;
  }
  .Dishs .couscous-text h4{
    padding-bottom: 2rem;
   color: gray;
   font-size: 1.2rem;
  }
  .Dishs .image-couscous{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
    z-index: -99;
   
  }
  .Dishs .image-couscous img{
    width: 49%;
    height: 350px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px -18px rgba(0, 0,0,0.19);
  }
  .Dishs .image-couscous img:nth-child(2){
    position: absolute;
    top: -10%;
    right: 0;
  }
  .Dishs .tajin{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
  
  }
  .Dishs .tajin-text {
    width: 50%;
    text-align: start;
    margin-left: 50px;
  }
  .Dishs .tajin-text h2 {
    padding-bottom: 2rem;
    font-size: 2.5rem;
  }
  .Dishs .tajin-text h4{
    padding-bottom: 2rem;
   color: gray;
   font-size: 1.2rem;
  }
  .Dishs .imag-tajin{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
    z-index: -99;
  }
  .Dishs .imag-tajin img{
    width: 49%;
    height: 300px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px -18px rgba(0, 0,0,0.19);
  }
  .Dishs  .imag-tajin img:nth-child(2){
    position: absolute;
    top: -15%;
    right: 0;
  }

  .Dishs .appetizers{
    margin: 4rem 6rem;
  }
  
  .Dishs .appetizers{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
  }
  
  .Dishs .appetizers-text {
    width: 50%;
    text-align: center;
   margin-left: -30%;  
    
  }
  .Dishs .appetizers-text h2 {
    padding-bottom: 2rem;
    font-size: 2.5rem;
  }
  .Dishs .appetizers-text h4{
    padding-bottom: 2rem;
   color: gray;
   font-size: 1.2rem;
  }
  .Dishs .image-appetizers{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
  .Dishs .image-appetizers img{
    margin-left: -50px;
    width: 50%;
    height: 350px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px -18px rgba(0, 0,0,0.19);
  }
  .Dishs .imgfood{
    margin-right: -50px;
    width: 30%;
    height: 350px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px -18px rgba(0, 0,0,0.19);
  }
  .foodhome p{
    position: absolute;
    font-size: 1.5rem;
    inline-size: 80%;
    transform: translate(-50%,-50%);
    top: 75%;
    left: 55%;
    color: rgb(216, 214, 214);
    display: block;
    
}

  
@media screen and (max-width: 767px)  {
  .foodhome .content-food{
      top: 45%;
      left: 55%;
  }
  .foodhome p{
      top: 70%;
  }
  .img-homefood{
width: 118%;
  }
  .homefood::after{ 
      width: 118%;
  }
  .foodhome .content h1{
      font-size: 4rem;
      color: rgb(255, 255, 255);
      font-family: Times New Roman;
      border-bottom: 2px solid  red ;
  }
  .foodhome .content h2{
      font-size: 2rem; 
       
  }
  .Dishs .couscous{
    margin: 2rem 1rem;
  }
  .Dishs .couscous-text {
    width: 50%;
    text-align: start;
    font-size: 1rem;
    inline-size: 80%;
  } 
  .Dishs .couscous{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 2rem;
  }
  .Dishs .image-couscous {
    width: 100%;
    margin: 1.8rem 0;

  }
  .Dishs .image-couscous img{
    width: 49%;
    height: 200px;
   
  }
  .Dishs .tajin{
    margin: 2rem 1rem;
  }
  .Dishs .tajin-text {
    width: 50%;
    text-align: start;
    font-size: 1rem;
    inline-size: 80%;
    order: 2;
  } 
  .Dishs .tajin{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 2rem;
  }
  .Dishs .imag-tajin {
    width: 100%;
    margin: 1.8rem 0;

  }
  .Dishs .imag-tajin img{
    width: 49%;
    height: 200px;
   order: 1;
  }
}