@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif; 
}
h1,h4,p,a{
  text-decoration: none;
}
ul{
  list-style: none;
}
.btn{
  padding: 12px 32px;
  font-size: 10px;
  text-transform: capitalize;
  background-color: rgb(235, 8, 8);
  color: black;
  border: 1px solid red;
  font-weight: 600;
  cursor: pointer;
}
.btn-light{
  background: transparent;
  columns: rgb(209, 63, 63);
}
.btn:hover{
  background-color: rgb(164, 16, 16);
  color: black;
  transition: 0.3s;
}
